    body {
        background-color: gray;
        font: 16px/28px, sans-serif;
        font-family: sans-serif;

    }

    div::selection {
        background-color: gainsboro;
    }

    .container {
        width: 800px;
        margin: auto;
        background-color: rgb(255, 255, 255);

    }

    .header {
        padding: 20px 20px 10px 20px;
    }

    .header .judul {
        font-size: 40px;
        font-weight: bold;


    }

    .header a {
        display: inline-block;
        margin-right: 10px;
    }

    .header a {
        text-decoration: none;

    }

    .header a:hover {
        background-color: lightskyblue;

        color: salmon;
    }

    .hero {
        height: 350px;
        background-image: url(img/hero.png);
        background-position: 0px -140px;
        background-size: cover;
        border-bottom: 10px solid salmon;
        border-top: 10px solid lightskyblue;

    }

    .artikel {
        padding: 20px;
    }

    .artikel h1 {
        font-size: 28px;
    }

    .artikel p a {
        text-decoration: none;
        color: salmon;
    }

    .artikel a:hover {
        color: salmon;
    }

    .artikel p {
        margin-bottom: 20px;
        font-size: 14px;
    }

    .copy {
        background-color: #333;
        margin: auto;
    }

    .copy p {
        font-size: 12px;
        text-align: center;
        color: white;
        padding: 10px;
    }

    input {
        text-align: center;
    }